.App {
  text-align: center;
  background-image: absolute;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(234, 196, 10);
  width: 100%;

}

.vid {
  height: 100vh;
  width: 100%;
}  
.vid video {
  height: 99vh;
  width: 100%;
  object-fit: cover;
}

.Regalos {
    position: absolute;
    border: 8px dashed #cfe909;
    padding: 25px 130px;
    border-radius: 10%;
    background: rgba(207, 233, 9, 0.2);
    font-size: x-large
}

.Regalos > h1 {
  font-size: 5rem;
  color: #f60828da;
  font-style:oblique;
  text-decoration: underline;
  font-weight: bolder;
}

.Boton {
  color: rgb(255, 204, 0);
  font-size:medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}